body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: .5px solid #5a5a5a;
}

.past {
  background-color: #9d9c9c;
  color: white;
}

.present {
  background-color: #cb423a;
  color: white;
}

.future {
  background-color: #1ba747;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.deleteBtn {
  background-color: #06aed5;
  color: white;
}

.deleteBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#confirm {
  opacity: 0;
 
}

.italic-text {
  font-size: 125%;
  font-style: italic;
  text-decoration: underline;
}